START_BLOCK=0
SEGMENT_LIMIT_PO2=0
ENVIRONMENT=test
USERNAME=validator-e2e-test
DISABLE_TELEMETRY=true

DATA_PROVIDER_1_PK=0x
DATA_PROVIDER_2_PK=0x

VALIDATOR_1_PK=0x39725efee3fb28614de3bacaffe4cc4bd8c436257e2c8bb887c4b5c4be45e76d
VALIDATOR_2_PK=0x
VALIDATOR_3_PK=0x