VITE_AWS_REGION=us-east-1
VITE_COGNITO_DOMAIN=https://owen-admin-dev.auth.us-east-1.amazoncognito.com
VITE_COGNITO_CLIENT_ID=replace-me
VITE_COGNITO_USER_POOL_ID=us-east-1_replace
VITE_COGNITO_IDENTITY_POOL_ID=us-east-1:replace-me
VITE_MESSAGE_STATUS_TABLE_NAME=DdexMessageStatusDev
VITE_PROCESSING_STATUS_INDEX_NAME=ProcessingStatusIndex
VITE_REDIRECT_URI=http://localhost:5173/auth-callback
VITE_LOGOUT_URI=http://localhost:5173/
VITE_IDENTITY_PROVIDER=IAMIdentityCenter
